.navbar-light .navbar-brand {
    color: #3eb4ba;

}


.navbar-nav>li {

    padding-left: 30px;
    padding-right: 30px;

}

#review-box {
    border: 1px none solid;
    height: 634px;
    width: 617px;
}


/* responsive design*/


/* mobile*/

@media (min-width: 576px) {

    .services-container {

        display: flex;
        display: block;
    }


}